@use 'sass:math';

$size: 1rem;

$sizes: (
  '0': 0,
  '0-25': math.div($size, 4),
  '0-5': math.div($size, 2),
  '0-75': $size * 0.75,
  '1': $size,
  '1-25': $size * 1.25,
  '1-5': $size * 1.5,
  '1-75': $size * 1.75,
  '2': $size * 2,
  '2-25': $size * 2.25,
  '2-5': $size * 2.5,
  '2-75': $size * 2.75,
  '3': $size * 3,
  '5': $size * 5,
);

$colors-light: (
  'text-buttton-background': #f4f4fb,
  'toolbar-selected': #fff,
  'primary': #3275e1,
  'text-primary': #2f7ff9,
  'yellow': #ffb800,
  'orange': #ff9900,
  'grey-transparent': rgba(180, 187, 186, 0.39),
  'backgroud-success': #d5fef3,
  'text-success': #00ba88,
);
