@import '_variables.scss';

body {
  padding: 0;
  margin: 0;
  background-color: var(--surface-ground);
  overflow-y: scroll;
}
.no-label {
  .p-button-label {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 6px;
  &:horizontal {
    height: 6px;
  }
  &-track {
    border-radius: var(--border-radius);
  }
  &-thumb {
    background-color: var(--surface-500);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }
}

.p-component-overlay {
  backdrop-filter: blur(1rem);
}

.trans-shadow {
  transition: box-shadow 0.2s;
  cursor: pointer;
}

$background-color: map-get(
  $map: $colors,
  $key: 'background',
);

body {
  --surface-ground: $background-color;
}

.p-card {
  background-color: $background-color;
}

.no-background-table {
  table.p-datatable-table {
    thead {
      th {
        background-color: #fff;
        color: #898989;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
      }
    }
    tbody {
      td {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
      }
    }
  }
}
